@font-face {
    font-family: "raleway";
    src: url("../fonts/raleway/Raleway-VariableFont_wght.ttf");
}

* {
    font-family: raleway;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    background-color: #E1EDE6;
}

header > div {
 margin: auto 165px;
}

/* header > div:last-child {
    margin: auto 0;
   } */

.menu {
    display: inline-flex;
}


.menu > div {
    margin: 0 30px;
}

.menu  div:last-child {
    margin: 0 0 0 30px;
}


main {
    background-color: #F4F6F5;
    padding: 0 165px;
}

main > div {
    margin-bottom: 70px;
}

main > div:last-child {
    margin-bottom: 0px;
}

.hero {
    display: flex;
}



.title_hero {
    position: relative;
    height: 331px;
    width: 540px;
    margin: auto 0px auto 30px;

}

h1 {
    font-weight: 500;
    font-size: 60px;
    line-height: 110%;
    color: #2c2d35;
}

h1 > em {
    color: #598D66;
    font-style: normal;
}

p {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #86928b;
    /* width: 530px; */
}

.primary_btn {
    border: 1px solid #598d66;
    width: 227px;
    height: 65px;
    font-weight: 500;
    font-size: 20px;
    color: #598d66;
    text-align: center;
    line-height: 3em;
}

.title_hero > .primary_btn {
    position: absolute;
    bottom: 0px;
}

.primary_btn:focus {
    background-color: #D4E8D9;
}

.primary_btn:active {
    background-color: #376B44;
    position: absolute;
    bottom: -1px;
    color: #F4F6F5;
}

.title_hero > .primary_btn:active {
    position: absolute;
    bottom: -1px;
}

.primary_btn:hover {
    background-color: #598D66;
    color: #F4F6F5;
}

h2 {
    font-size: 40px;
    line-height: 110%;
    color: #2c2d35;
}


.head_catalog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.catalog_list {
    display: flex;
    margin: 0 -5px;
}

.catalog_list > .tab_btn {
    margin: 0 5px;
}

.catalog_list > .tab_btn:last-child {
    margin: 0;
}

.tab_btn {
    border-radius: 20px;
    text-align: center;
    line-height: 2em;
    width: 126px;
    height: 43px;
    background: #d4e8d9;
    font-size: 20px;
    color: #2c2d35;;
    border: 0px;
}

.tab_btn:active {
    background-color: #376B44;
    position: relative;
    top: 1px;
}

.tab_btn:focus {
    background-color: #D4E8D9;
    border: 2px solid #598d66;
}

.tab_btn:active {
    background-color: #376B44;
    color: #F4F6F5;

}

.tab_btn:hover {
    background-color: #598D66;
    color: #F4F6F5;
}

.catalog_main {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    gap: 30px;
}

.card_art {
    width: 350px;
    height: 730px;
    background-color:  #E1EDE6;;
    /* margin: 30px 30px 0 0px; */

}

.art_img {
    width: 310px;
    height: 422px;
    margin: 20px;
}

h3 {
    font-weight: 500;
    font-size: 30px;
    color: #2c2d35;
}

.card_art > .primary_btn {
    width: 310px;
    height: 65px;
    background-color: #e1ede6;
}

.card_art > .primary_btn:active {
    position: relative;
    background-color: #376B44;
    color: #F4F6F5;
}

.primary_btn:hover {
    background-color: #598D66;
    color: #F4F6F5;
}

.card_art > * {
    margin-left: 20px;
}

.price_card {
    margin: 30px 0px 20px 20px;
}

.rectangle {
    background: linear-gradient(rgba(22, 3, 3, 0.075), rgba(0, 0, 0, 0.8)),  url('../img/Rectangle.png');
    height: 574px;
    margin: 0 -165px 70px -165px;
    opacity: 0.7;
}

.rectangle > * {
    margin-left: 165px;
}

.h2_rectangle {
    display: inline-flex;
    margin: 70px 0px 20px 165px;
}

.h2_rectangle > h2 {
    margin-left: 20px;
    width: 421px;
    color: #F4F6F5;
}

.rectangle > p {
    width: 540px;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
}

.promo_btn {
    margin-top: 60px;
    background-color: #EEDB6D;
    border: 0px;
    color: #2c2d35;
}

.our_team {
    display: flex;
    padding-bottom:  70px;
}

.our_team_paragraf {
    margin-left: 30px;
    margin-top: 124px;
}

.our_team_paragraf > * {
    margin-bottom: 20px;
    color: #2C2D35;
}

.our_team_paragraf > p {
    font-size: 18px;
    line-height: 150%;
}

.avatars_team {
    display: flex;
}


.avatars_team > img {
    margin-right: 30px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 168px;
    padding: 0 165px;
    background-color: #E1EDE6;
}

footer > * {
    margin-top: 23px;
}

.text_button:hover {
    cursor: pointer;
    color: #598D66;

}

.text_button:focus {
    cursor: pointer;
    color: #2C2D35;
    background-color: #598D66;

}

.text_button:active{
    color: #376B44;
}

.second_text_button {
    color:#86918a;
    margin-top: 6px;
}

.fhone_and_logo > .logo {
    margin-bottom: 35px;
}

.name_fhone {
    margin-top: 8px;
}

footer > .menu  div:last-child {
    margin: 6px 0px 0px 0px;
}

.href_block {
    width: 132px;
}

.second_text_button_href {
    text-decoration: none;
    font-size: 12px;
}

.image_hrefs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}