@font-face {
    font-family: "raleway";
    src: url("../fonts/raleway/Raleway-VariableFont_wght.ttf");
}

* {
    font-family: raleway;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    background-color: #E1EDE6;
}

header > div {
 margin: auto 165px;
}

.menu {
    display: inline-flex;
}

.menu > div {
    margin: 0 30px;
}

main {
    padding: 0 165px;
}

main > div {
    margin-bottom: 70px;
}

.hero {
    display: flex;
}



.title_hero {
    position: relative;
    height: 331px;
    width: 540px;
    margin: auto 0px auto 45px;

}

h1 {
    font-weight: 500;
    font-size: 60px;
    line-height: 110%;
    color: #2c2d35;
}

h1 > em {
    color: #598D66;
    font-style: normal;
}

p {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #86928b;
    /* width: 530px; */
}

.primary_btn {
    border: 1px solid #598d66;
    width: 227px;
    height: 65px;
    font-weight: 500;
    font-size: 20px;
    color: #598d66;
    text-align: center;
    line-height: 3em;
}

.title_hero > .primary_btn {
    position: absolute;
    bottom: 0px;
}

h2 {
    font-size: 40px;
    line-height: 110%;
    color: #2c2d35;
}


.head_catalog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.catalog_list {
    display: flex;
    margin: 0 -5px;
}

.catalog_list > .tab_btn {
    margin: 0 5px;
}

.tab_btn {
    border-radius: 20px;
    text-align: center;
    line-height: 2.2em;
    width: 126px;
    height: 43px;
    background: #d4e8d9;
    font-size: 20px;
    color: #2c2d35;;
}

.catalog_main {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    gap: 30px;
    /* width: 1110;
    height: 1490; */
    /* flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 0 -15px; */
}

.card_art {
    width: 350px;
    height: 730px;
    background-color:  #e1ede6;;
    /* margin: 30px 30px 0 0px; */

}

.art_img {
    width: 310px;
    height: 422px;
    margin: 20px;
}

h3 {
    font-weight: 500;
    font-size: 30px;
    color: #2c2d35;
}

.card_art > .primary_btn {
    width: 310px;
    height: 65px;
}

.card_art > * {
    margin-left: 20px;
}

.price_card {
    margin: 30px 0px 20px 20px;
}